@tailwind base;
@tailwind components;
@tailwind utilities;

$background-color: #dcddde;
$button-background-color: #f5f6f7;
$hover-background-color: #e9eaea;
$text-color: black;

:root {
  --background: $background-color;
  --foreground: $text-color;
  --button-background: $button-background-color;
  --hover-background: $hover-background-color;
  --text-color: $text-color;
}

// @media (prefers-color-scheme: dark) {
//   :root {
//     --background: ;
//     --foreground: white ;
//   }
// }

body {
  color: $text-color;
  background: $background-color;
  font-family: "Lora", serif;
  height: 100vh;
}
