$background-color: #f5f6f7;
$window-background-color: #e9eaea;
$cards-background-color: #f6f7f8;

.dashboardLayout{
    display: grid;
    grid-template-columns: 0fr 1fr;
    padding: 10px;
    gap: 10px;
    height: 100vh;
    background-color: #c5c5c6;
}

.dashboardContent{
    padding: 5px;
    background-color: $window-background-color;
    border-radius: 10px;
    height: 100%;
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.05);
}