$primary-color: #e9ecef;
$secondary-color: #6c757d;
$font-color: #52796f;

.dashboardLayout{
    display: grid;
    grid-template-columns: 0fr 1fr;
}

.dashboardContent{
    padding: 5px;
    background-color: $primary-color;
}